.gallery__item {
    list-style: none;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}
  
.gallery__item:hover {
    transform: scale(1.05);
}

.gallery__item:nth-child(4n) {
    margin-right: 0;
}