.gallery__video-info {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: start;
}

.gallery__video-info::after {
    margin-left: 4px;
    content: "";
    background-image: url(../../../images/icon/play_circle_filled.svg);
    width: 16px;
    height: 16px;
}