.form__input {
    width: 100%;
    height: 70px;
    border: none;
    background-color: #f8f8f8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 20px 24px 20px 52px;
}
  
.form__input:focus {
    outline: 1px solid #ffbb01;
}
  