@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/socials/socials.css);
@import url(../blocks/socials/__icon/socials__icon.css);
@import url(../blocks/person/person.css);
@import url(../blocks/person/__avatar/person__avatar.css);
@import url(../blocks/person/__subtitle/person__subtitle.css);
@import url(../blocks/person/__title/person__title.css);
@import url(../blocks/person/__text/person__text.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_place/button_place_form.css);
@import url(../blocks/advantages/advantages.css);
@import url(../blocks/subtitle/subtitle.css);
@import url(../blocks/subtitle/_place/subtitle_place_advantages.css);
@import url(../blocks/subtitle/_place/subtitle_place_partfolio.css);
@import url(../blocks/subtitle/_place/subtitle_place_footer.css);
@import url(../blocks/advantages/__table/advantages__table.css);
@import url(../blocks/advantage/advantage.css);
@import url(../blocks/advantage/__icon/advantage__icon.css);
@import url(../blocks/advantage/__name/advantage__name.css);
@import url(../blocks/advantage/__text/advantage__text.css);
@import url(../blocks/partfolio/partfolio.css);
@import url(../blocks/partfolio/__projects/partfolio__projects.css);
@import url(../blocks/project-card/project-card.css);
@import url(../blocks/project-card/__img/project-card__img.css);
@import url(../blocks/project-card/__content/project-card__content.css);
@import url(../blocks/project-card/__description/project-card__description.css);
@import url(../blocks/project-card/__button/project-card__button.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__table/gallery__table.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__item/_content/gallery__item_content_video.css);
@import url(../blocks/gallery/__pic/gallery__pic.css);
@import url(../blocks/gallery/__video/gallery__video.css);
@import url(../blocks/gallery/__video-info/gallery__video-info.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__contacts/form__contacts.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__icon/form__icon.css);
@import url(../blocks/form/__icon/_phone/form__icon_phone.css);
@import url(../blocks/form/__icon/_user/form__icon_user.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/contact/__value/contact__value.css);
@import url(../blocks/contact/_size/contact_size_full.css);
@import url(../blocks/policy/policy.css);